

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mota1</title>
</head>
<body>
    <div>
        Hệ thống tự động bảo vệ PRE-SAFE® kết hợp tối đa các tính năng an toàn trong trường hợp khẩn cấp <br />
        Hệ thống: Chống bó cứng phanh ABS; Hỗ trợ lực phanh khẩn cấp BAS; Chống trượt khi tăng tốc ASR; Ổn định thân xe điện tử ESP <br />
        Hệ thống dẫn động 4 bánh toàn phần với hệ thống kiểm soát độ bám đường và ổn định thân xe điện tử 4ETS/ 4ESP <br />
        Chức năng hỗ trợ xuống dốc Downhill Speed Regulation (DSR) <br />
        Hệ thống phanh ADAPTIVE Auto HOLD  với chức năng hỗ trợ khởi hành giữa dốc <br />
        Hệ thống lái Direct-Steer hỗ trợ đánh lái dễ dàng và chính xác <br />
        Trang bị bánh xe beadlock ( lốp không bị tuột ra khi hết hơi). <br />
        Trang bị 5 chết độ lái. <br />
        Vô lăng chỉnh điện 4 hướng tích hợp sưởi vô lăng, đàm thoại rảnh tay. <br />
        Ga tự động thích ứng (Adaptive Cruise Control) <br />
        Màn hình giải trí 8” tích hợp Sync 3 hỗ trợ Android Auto, AppleCarPlay. <br />
        Hàng ghé trước chỉnh điện 10 hướng. <br />
        Hệ thống sưởi, làm mát ghế. Massage nhiều chế độ. <br />
        Công nghệ Live Valve tùy chỉnh giảm chấn nhanh nhạy theo thời gian thực. <br />
        Camera 360 độ <br />
        Cảm biến va chạm xung quanh xe. <br />
        Cảnh báo chệch làn đường. <br />
        Cảnh báo an toàn phía trước. <br />
        Phát hiện người đi bộ. <br />
        Tự động phanh khẩn cấp. <br />
        Hỗ trợ giữ làn.<br />
        Hỗ trợ đỗ xe song song.<br />
        Ga tự động thích ứng,<br />
        Kiểm soát chống lật.<br />
        Cảnh báo điểm mù, cảnh báo vượt.<br />
        Kiểm soát vào cua.<br />
        Trang bị 8 túi khí.<br />
        Khởi động từ xa bằng chìa khóa.<br />
        Núm cài đặt Trailer, gài cầu điện.<br />
        Hệ thống giả trí danh tiếng B&O.<br />
        Dây an toàn Iflatable Belt (dây an toàn tích hợp túi khí).<br />
        Khóa cửa bằng mã code.<br />
        Bậc lên xuống điện<br />
    </div>
</body>
</html>
