@using (Html.BeginForm("spTimKiem", "Home", FormMethod.Get))

{<div class="row">
    <div class="col-lg-12">
    <div class="col-md-offset-0" style="display:inline-flex;"> 
        <input style="width:250px;height:30px" type="text" value="@ViewBag.chuoitimkiem"  name="searchString" />
        <button style="width:40px;height:40px" type="submit" value="Tìm kiếm" class="btn btn-primary"><img src="~/images/search.png" /></button>  
        </div>     
        </div>         
    </div>}

